.news-banner {
   padding-top: 40px !important; 
    padding-bottom: 100px!important;
    
}

.news-card {
    background-color: #ee6352;
    border-radius: var(--br-main);
    padding: 80px 20px;
    position: relative;
    overflow: hidden; 
    text-align: center;
    color: white;
}

.ellipse-1, .ellipse-2 {
    position: absolute;
    background-color: #ff6653; 
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
}

.ellipse-1 {
    width: 90%;
    height: 100%;
    top: -50%;
    left: 5%;
    clip-path: ellipse(50% 50% at 50% 50%);
}

.ellipse-2 {
    width: 90%;
    height: 100%;
    bottom: -55%;
    right: 5%;
    clip-path: ellipse(50% 50% at 50% 50%);
}

.news-content {
    position: relative;
    z-index: 2;
}

.news-tag {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    display: block;
    font-family: "Roboto", sans-serif;
    color :var(--text-light)
}

.news-title {
    text-transform: uppercase;
    font-size: var(--fs-h1);
    font-weight: 800;
letter-spacing: -0.01em;
    margin-bottom: 20px;
    max-width: 1100px!important;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;

}

.news-text {
    font-size: 21px;
    font-weight: bold;
    max-width: 580px;
    margin: 0 auto 48px;
font-family: "Roboto", sans-serif;
color:var(--text-light);
font-weight: 300;
}




 .news-btn {
    text-transform: uppercase;
    background-color: var(--text-dark) !important;
    color: white !important;
    border: none !important;
    padding: 12px 35px !important;
    border-radius: var(--br-btn) !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto; 
    width: fit-content;
}

@media (max-width: 768px) {
    .news-card {
        padding: 60px 15px;
    }

    .ellipse-1 {
        width: 140%;
        height: 80%;
        top: -35%;
        left: -20%;
    }

    .ellipse-2 {
        width: 140%;
        height: 80%;
        bottom: -35%;
        right: -20%;
    }

    .news-title {
        font-size: 32px;
    }

    .news-text {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .news-form {
        flex-direction: column;
        background: transparent;
        box-shadow: none;
        gap: 12px;
    }

    .news-input {
        background: white;
        border-radius: 50px;
        width: 100%;
        padding: 15px;
    }

    .news-btn {
        width: 100%;
        padding: 15px;
    }
}